body {
  margin:0;
  padding:0;
  background:#282828;
  color:white;
  font-family:Helvetica, Verdana, Arial, sans-serif;
}

.modal {
  width:100%;
}

.center {
  text-align:center;
}

.invite {
  width:100%;
  display:inline-block;
}

.invite button {
  background:#3c7ae8;
  color:white;
  width:20vw;
  height:5vh;
  cursor:pointer;
  border:0;
  font-weight:bold;
  transition:background 0.5s, width 0.5s, height 0.5s;
}

.invite button:hover {
  background:#005afb;
  width:22vw;
  height:7vh;
}